:root {
  --basic-black:#000000;
  --basic-brown:#766357;
  --basic-light-black:#333333;
  --basic-light-blue:#81B3D2;
  --basic-gray:#EEEEEE;
  --basic-light-gray:#F2F2F2;
  --basic-white: #ffffff;
  --basic-background: #888888;
}




/* Общие стили */
body {
  width: 1200px;
  height: 2762px;
  left: 40px;
  top: 0px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  background-color: var(--basic-background);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  }

li {
  list-style: none;
}

.visually-hidden{
  display: none;
}





/* Хедер стили */

.main-navigation {
  background-color: var(--basic-white);
}

.main-navigation a {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.main-navigation a:hover {
  color: var(--basic-light-blue);
}

.main-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}





/* welcome-container стили */
.welcome-container {
  background-image: url("../img/bg.jpg");
}

.welcome-container .welcome-container-mask-svg {
  background-image: url("../img/intro-mask.svg");
  width: 1200px;
  height: 57px;
  left: 40px;
  top: 508px;
}





/* profit-container стили */
.profit-container {
  background-color: var(--basic-white)
}

.profit-text1 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.profit-text2 {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.profit-list-feature1 .feature1, .profit-list-feature2 .feature2 {
  background-image: url("../img/bg_blu.png");
  }

.feature1, .feature2 {
  width: 400px;
  height: 256px;
  left: 40px;
  top: 780px;
}

.feature1 h3, .feature2 h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white)
}

.feature1 p, .feature2 p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white)
}

.feature1-item1, .feature1-item2, .feature1-item3 {
  width: 400px;
  height: 330px;
  left: 40px;
  top: 1036px;
}

.feature1-item1 .name-item, .feature1-item2 .name-item, .feature1-item3 .name-item {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.feature1-item1 p, .feature1-item2 p, .feature1-item3 p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-light-black);
}

.feature2-item1, .feature2-item2, .feature2-item3 {
  width: 400px;
  height: 256px;
  left: 40px;
  top: 1622px;
  background-color: var(--basic-light-gray);
}

.feature2-item1 .name-item, .feature2-item2 .name-item, .feature2-item3 .name-item {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.feature2-item1 p, .feature2-item2 p, .feature2-item3 p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-light-black);
}



/* hotel-container стили */


.hotel-container {
  background-color: var(--basic-white)
}

.interest {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-black);
}

.interest-data {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-light-black);
}

.search-form {
  background-color: var(--basic-white)
}

.search {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-brown);
  color: var(--basic-white);
}



/* форма стили */

.search-form label {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  }


  .search-form input {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
  }


.search-form .search-form-field {
  background-color: var(--basic-light-gray);
  }


.search-form button {
  background-color: var(basic-light-blue);
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color var(--basic-white)
}

/* футер стили */

.footer-container p {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

}

.footer-container a {

text-decoration: none;
}
