:root {
  --basic-black:#000000;
  --basic-brown:#766357;
  --basic-light-blue:#81B3D2;
  --basic-gray:#EEEEEE;
  --basic-light-gray:#F2F2F2;
  --basic-white: #ffffff;
}

body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  background-color: var(--basic-light-blue);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  }

li {
  list-style: none;
}
